/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

/* css for video on landing page */
.hero {
            position: relative;
            height: 100vh;
            overflow: hidden;
        }

        .video-background {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            transform: translate(-50%, -50%);
            z-index: -1;
        }

        .overlay {
            position: relative;
            z-index: 1;
            color: white;
            text-align: center;
            padding: 20px;
        }